nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    p.navbar-brand グローバル英語
    .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/home') ホーム
            li.nav-item
                a.nav-link(href='/teachers') 講師情報
            li.nav-item
                a.nav-link(href='#') サイトマップ