.register-form
    input.email(type='text', placeholder='email')
    br
    input.username(type='text', placeholder='username')
    br
    input.password(type='text', placeholder='password')
    br
    input.passwordConf(type='text', placeholder='re-enter password')