mixim studentData(data)
    .student-card 
        .student-name-kana= data.fnamekana + data.lnamekana
        .student-name-kanji= data.fnamekanji + data.lnamekanji

.student-card
    .student-name-kana
    .student-name-kanji
