<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/add_student.css">

    <title>Add Records</title>

    <script type='text/JavaScript'>
        function add_record(){
            const url = "http://globalengishstudentrecord.us-east-2.elasticbeanstalk.com/api/records/add_rec/" 

            // create new student object
            var newRecord = {
                first_katakana: document.getElementById('fnamekatakana').value,
                last_katakana: document.getElementById('lnamekatakana').value,
                date: document.getElementById('date').value,
                body: document.getElementById('body').value,
                hw: document.getElementById('hw').value,
                comments: document.getElementById('comments').value
            };
            postData(url, newRecord);
        }

        function postData(url, data){
          return fetch(url, {
            method: "POST",
            mode: "cors",
            cache: "no-cache",
            headers: {
              "Content-Type": "application/json; charset=utf-8"
            },
            body: JSON.stringify(data)
          }).then(response => console.log(response));
        }
    </script>
  </head>
  <body>
    <header>
        <h1>Add Records 授業記録の追加</h1>
    </header>
   
    <div class='bg'>
      <form action="/action_page.php">

        <!--名前入力-->
        <label>Student Name</label><br>
        <input type="text" id="lnamekatakana" placeholder="セイ"><br>
        <input type="text" id="fnamekatakana" placeholder="メイ">
        
        <!--日付入力-->
        <label for="date">Date</label>
        <input type="text" id="date" placeholder="2018/11/28">

        <!--授業内容入力-->
        <label for="body">Class Info</label>
        <input type="text" id="body" placeholder="Body">

        <!--宿題入力-->
        <label for="hw">Home Work</label>
        <input type="text" id="hw" placeholder="HW">

        <!--コメント入力-->
        <label for="comments">コメント Comments</label>
        <input type="text" id="comments" placeholder="Comments">

        <input alignt="center" type="Save" value="Submit" onclick="add_record();"/>
        <div>
            <label>Explanation</label>
            <p type="text">このフォームを使って、既存の生徒授業情報を追加することができます。情報欄を記入して、Submitボタンを押すと、データはまず
              辞書型オブジェクト(記入したデータを格納した箱とでも考えてください)に変換され、その後JSON(JavaScriptObjectNotation)に変換されます。
              インターネットを通してデータを送信するときに使うHTTP Postメソッドというものがあり、作成したAPI(Application Programming Interface)
              と併用してサーバーにデータを送信します。送信後はサーバーがデータベースとやりとりをして、データをデータベースに保存します。詳しいJavaScriptの
              プログラミングはScriptタグに囲まれているセクションを参照して見てください。
            </p>
        </div>
      </form>
    </div>
    
    <footer>Global Eigo</footer>
  </body>
</html>