extends layout 

block content 
    .container
        h1 生徒追加
        p.lead 生徒情報を記入してください
        br
        form(role='form', action="lectures/", method="post")
            .form-group
                label(for='lanamekanji') 氏
                input.form-control(type='text', id='lnamekanji', placeholder='last name')
            .form-group
                label(for='fnamekanji') 名
                input.form-control(type='text', id='fnamekanji', placeholder='first name')
            .form-group
                label(for='lanamekana') シ
                input.form-control(type='text', id='lnamekana', placeholder='last name')
            .form-group
                label(for='fnamekana') メイ
                input.form-control(type='text', id='fnamekana', placeholder='first name')  
            .form-group
                label(for='school') 学校名
                input.form-control(type='text', id='school', placeholder='school name')
            .form-group
                label(for='comments') 学年
                select.form-control(id='grade')
                    option p
                    option m1
                    option m2 
                    option m3
                    option h1
                    option h2
                    option h3
                    option u 
            .form-group
                label(for='teacher') 担当講師
                input.form-control(type='text', id='teacher', placeholder='Teacher')
            button.btn.btn-default(type='submit') 追加
            a(href='/index')
                button.btn.btn-primary(type='button') 戻る
    footer グローバル英語専門塾