extends layout 

block content 
    .container
        h1 生徒追加
        p.lead 生徒情報を記入してください
        br
        form(role='form', action="/api/students", method="post")
            .row
                .col-sm
                    .form-group
                        label(for='lanamekanji') 氏
                        input.form-control(type='text', name='lnamekanji', placeholder='last name')
                .col-sm
                    .form-group
                        label(for='fnamekanji') 名
                        input.form-control(type='text', name='fnamekanji', placeholder='first name')
            .row
                .col-sm
                    .form-group
                        label(for='lanamekana') シ
                        input.form-control(type='text', name='lnamekana', placeholder='last name')
                .col-sm
                    .form-group
                        label(for='fnamekana') メイ
                        input.form-control(type='text', name='fnamekana', placeholder='first name')  
            .form-group
                label(for='school') 学校名
                input.form-control(type='text', name='school', placeholder='school name')
            .form-group
                label(for='grade') 学年
                select.form-control(name='grade')
                    option p
                    option m1
                    option m2 
                    option m3
                    option h1
                    option h2
                    option h3
                    option u 
            .form-group
                label(for='teacher') 担当講師
                select.form-control(name='teacher_id')
                    each val in teachers
                        option(value=val._id)= val.lnamekanji + ' ' + val.fnamekanji
            button.btn.btn-default(type='submit') 追加
            a(href='/index')
                button.btn.btn-primary(type='button') 戻る

    footer グローバル英語専門塾