
head
link(href='https://fonts.googleapis.com/css?family=Nunito:600', rel='stylesheet')
    
block content
    .container
    
    #box
    .box
        h1 Home
        
         
        if (!user)
        
            a(href="/login" color="#00cf8d") Login
            br
        
        if (user)
            p こんにちは #{user} さん
            a(href='/logout') Logout
            
footer グローバル英語専門塾

style.

    body {
    
    background-image: url("webdesignpic.png");
    text-align: center;
    background-position: cover;
    font-family: 'Nunito', sans-serif;s
    font-size: 50px;
    
    }
    
    .box{
    background:white;
    width:300px;
    border-radius:25px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: none; 
    margin-top: 300px;
    padding: 20px;
    }
    
    
    *{
    margin:0;
    padding:0;
    }
