doctype html
html
    head
        meta(charset='utf-8')
    body
        include components/Header
        if (!user)
            a(href="/login") Login
            br
        
        if (user)
            p こんにちは #{user} さん
            a(href='/logout') Logout

    include components/Footer