extends layout 

block content 
    .container
        h1 授業追加
        p.lead 授業情報を記入してください
        br
        form(role='form', action="lectures/", method="post")
            .form-group
                label(for='date') 日付
                input.form-control(type='text', id='date', placeholder='DD/MM/YYYY')
            .form-group
                label(for='details') 授業詳細
                textarea.form-control(type='text', id='details', placeholder='Details', rows="4")
            .form-group
                label(for='comments') コメント
                textarea.form-control(type='text', id='comments', placeholder='Comments', rows="4")
            .form-group
                label(for='hw') 宿題
                textarea.form-control(type='text', id='hw', placeholder='Homework', rows="3")
            button.btn.btn-default(type='submit') 追加
            a(href='/students/' + student_id)
                button.btn.btn-primary(type='button') 戻る
    footer グローバル英語専門塾