extends layout
mixin teacher_info(teacher)
    .container.teacher-info
        p.teacher-id= teacher._id
        p.teacher-name= teacher.lnamekanji + ' ' teacher.fnamekanji
        p.teacher-school= teacher.school

block content
    include components/header
    .container
        h1 講師一覧
        include components/navbar
        each key, val in teacher_index
            if (key%2 == 0)
                .row
                    .col-sm
                        +teacher_info(val)
            else if (key%2 == 1)
                    .col-sm
                        +teacher_info(val)
    

    include components/footer
