<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Group Project</title>
    <link rel="stylesheet" href="webDclass.css">
    <script src=""></script>
</head>



<body>
    <header>
        <h1>Students</h1>
        <h1><button type="button">Log Out</button></h1>

    </header>

   <section class="padding">
    <section class="grade" id=grade>
        <h2>Grade</h2>
        <div class="row">
            <h3>高校１年</h3>
            <h3>高校２年</h3>
            <h3>高校３年</h3>
            <h3>中学１年</h3>
            <h3>中学２年</h3>
            <h3>中学３年</h3>
            <h3>小学生</h3>
            <h3>大学生</h3>
        </div>
        <div id=add>
            <h3><button type="button">+</button></h3>
        </div>
    </section>

    <section class="name" id=name>
        <h2>Name</h2>
        <div id=highschool>
           <div class="namelist">
            <table>
                <tr>
                    <th>高校１年</th>
                    <th>高校２年</th>
                    <th>高校３年</th>
                </tr>
                <tr>
                    <th>student1</th>
                    <th>student2</th>
                    <th>student3</th>
                </tr>
            </table>
        </div>
        <div id=middleschool>
            <table>
                <tr>
                    <th>中学１年</th>
                    <th>中学２年</th>
                    <th>中学３年</th>
                </tr>

                <tr>
                    <th>studenta</th>
                    <th>studentb</th>
                    <th>studentc</th>
                </tr>
            </table>
        </div>

        <div id=primaryschool>
           <table>
            <th>小学生</th>
            <th>大学生</th>
            <tr>
                <th>studentx</th>
                <th>studenty</th>
                
            </tr>
            </table>
        </div>
        </div>
    </section>
    </section>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <footer>Global Eigo</footer>
</body>

</html>
